.custom-container {
    width: 70%;
    margin: 60px auto;
}

#subscribe-form {
    background-color: #9db2bf;
    padding: 20px;
}
#subscribe-form .container {
    padding: 20px;
    background-color: #9db2bf;
}

#subscribe-form input[type="text"],
#subscribe-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#subscribe-form input[type="checkbox"] {
    margin-top: 16px;
}

#subscribe-form input[type="submit"] {
    background-color: #27374d;
    color: white;
    border: none;
}

#subscribe-form input[type="submit"]:hover {
    opacity: 0.8;
}
@media screen and (max-width: 460px) {
    #subscribe-form {
        padding: 10px;
    }
    #subscribe-form h1 {
        margin: 0px;
    }
    #subscribe-form .container {
        padding: 10px;
    }
    #subscribe-form input[type="text"],
    #subscribe-form input[type="submit"] {
        padding: 4px 8px;
    }
    #subscribe-form input[type="submit"] {
        margin: 0px;
    }
}
