.custom-container {
    width: 70%;
    margin: 60px auto;
}
.actionBtn2 {
    position: relative;
    display: block;
    width: 166px;
    height: 38px;
    margin: auto;
    line-height: 40px;
    color: #4c4c4d;
    text-align: center;
    font-size: 14px;
    font-family: oswald;
    text-decoration: none;
    text-transform: uppercase;
}
.actionBtn2 .hover {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    border: 1px solid #4c4c4d;
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease-out;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -moz-transition: -moz-transform 0.25s ease-out;
}
.actionBtn2:hover .hover {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}
